<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, World!</title>
</head>
    <body>
        <h1>
            Hello, World!  v1 <br>
            <br>"http://127.0.0.1:8000/__debug__/"<br>: para a rota debug_toolbar<br>
            <br>"http://127.0.0.1:8000/admin/"<br>: para a rota de administração<br>
            <br>"http://127.0.0.1:8000/bookstore/v1/"<br>: para a rota de pedidos (order.urls) com a versão "v1"<br>
            <br>"http://127.0.0.1:8000/bookstore/v2/"<br>: para a rota de pedidos (order.urls) com a versão "v2"<br>
            <br>"http://127.0.0.1:8000/bookstore/v1/"<br>: para a rota de produtos (product.urls) com a versão "v1"<br>
            <br> "http://127.0.0.1:8000/bookstore/v2/"<br>: para a rota de produtos (product.urls) com a versão "v2"<br>
            <br>"http://127.0.0.1:8000/api-token-auth/"<br>: para a rota de autenticação de token<br>
            <br>"http://127.0.0.1:8000/update_server/"<br>: para a rota de atualização do servidor<br>
            <br> "http://127.0.0.1:8000/"<br>: para a rota da função hello_world<br> </h1>
    </body>
</html>